<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.devloment.diax"
    version   = "2.0.0">

<name>DIA_X</name>

<description>
A new age for politics.
</description>

<author href="http://devloment.me" email="ceo@devloment.me">
Iván Sánchez González
</author>

<access origin="*"/>

</widget>
